<div *ngIf="modulo" class="sidebar-container">
<div class="modulo-header" (click)="cerrarSubmenu()">
  <i nz-icon nzType="appstore" class="modulo-icon"></i>
  <span class="modulo-titulo">{{ modulo.titulo }}</span>
</div>

  <div *ngFor="let categoria of modulo?.categorias" class="categoria">
    <div class="categoria-header" (click)="toggleCategoria(categoria)">
      <span class="categoria-nombre" [class.expandida]="categoriaExpandida === categoria">
  {{ categoria.nombre }}
</span>

      <i nz-icon [nzType]="categoriaExpandida === categoria ? 'up' : 'down'"></i>
    </div>

    <!-- Subopciones -->
    <div class="subopciones" *ngIf="categoriaExpandida === categoria">
      <div class="subopcion" *ngFor="let sub of categoria.subopciones">
<div
  class="sub-header"
  [class.activa]="subcategoriaExpandida === sub.nombre"
  (click)="toggleSubcategoria(sub.nombre)"
>
  {{ sub.nombre }}
  <i
    nz-icon
    [nzType]="subcategoriaExpandida === sub.nombre ? 'up' : 'down'"
    *ngIf="sub.subopcionesInternas?.length"
  ></i>
</div>

        <!-- Sub-subopciones -->
        <div
          class="sub-subopciones"
          *ngIf="subcategoriaExpandida === sub.nombre && sub.subopcionesInternas?.length"
        >
<div class="item" *ngFor="let subint of sub.subopcionesInternas"
     (click)="navegar(modulo!, categoria, sub, subint)">
  {{ subint.nombre }}
</div>

        </div>
      </div>
    </div>
  </div>
</div>
